<body style="background-color:#C0C0C0">

<h1 style="text-align:center; font-family:courier;">---Let Battle commence!---</h1>
<h2 style="text-align:center; font-family:courier;"><%="#{@game.player_1.name}"%> V <%="#{@game.player_2.name}"%> </h2>
<h3 style="text-align:left; font-family:courier;"><%="#{@game.player_1.name}"%>: <%="#{@game.player_1.hit_points}HP"%>
<span style="float:right; font-family:courier;"><%="#{@game.player_2.name}"%>: <%="#{@game.player_2.hit_points}HP"%></h3>
<h4 style="text-align:center; font-family:courier;"><%="Current Turn: #{@game.turn.name}"%></h3>

<center>
  <form method="post" action="/attack">
    <input type="submit" value="Attack" style="font-size : 50px; width: 50%; height: 100px;">
  </form>
  <form method="post" action="/heal">
    <input type="submit" value="Heal" style="font-size : 50px; width: 50%; height: 100px;">
  </form>
  <!-- <form method="post" action="/paralyse">
    <input type="submit" value="Paralyse" style="font-size : 20px; width: 100%; height: 100px;">
  </form> -->
<img
style = "padding: 2em 0 2em 0; width:400px;height:400px;" align=middle
src='https://www.viral-kittens.com/m/en/476/lord-of-the-ring-battle-cats-gandalf-sauron-r-default.webp'
/>
</center>
</body>
